بيع اجهزة الكترونية كاش وتقسيط
يبقى مطلوب كاشير 

طبعا عنده سيستم كامل للتقسيط 
ده اللى احنا هنشتغل عليه 

بيخزن الداتا بتاعة العميل اللى هي
اسمه , تليفونه , عنوان السكن , عنوان العمل , المبلغ اللي عليه , كام قسط و تاريخهم  

هل هيكون في حد اقصى لو واحد مدفعش خلال 5 ايام مثلا ينزل عليه غرامه ؟

عنده طبعا الداتا بتاعة المندوبين اللى بينزلوا يلفوا على الناس عشان يلموا الاقساط 
وبيبقى فيه ايصال استلام
اسمه , تليفونه , عنوان السكن , صورة بطاقته او رقمها مثلا , عدد العملاء اللي مسئولين منه و تاريخ استلام القسط


عدد الاشهر بيختلف حسب الاتفاق
احنا هيكون لينا دخل في النسبه او عدد الاشهر او المبلغ ؟

الاساسي ان المندوب بيروح للعميل 
يبيع له الحاجة بـ 10000 مثلا 
يمضيه على وصل امانة بـ 10000 
ويتفق معاه انه هيقسط على 10 شهور مثلا 

فى يوم معين كل شهر 
وممكن ميكونش ثابت عادي 
وممكن يروح له يوم يلاقيه مش موجود يروح له بعد كده عادي 
فيستلم منه الـ 1000 مثلا ويديله ايصال انه استلم منه قسط شهر كذا 

عرضت عليه ندخل له احنا الداتا اللى عنده كلها 
قالي ان هو اللى هيدخلها 
